<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>{{ profile.profile_name }}</h1>
    <p><b>Profile Name:</b> {{ profile.profile_name }}</p>
    <p><b>Username:</b> {{ profile.username }}</p>

    <h3>Skills:</h3>
    <ul>
        {% for skill in profile.skills %}
            <li>{{ skill }}</li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('profiles.add_skill', profile_name=profile.profile_name) }}" method="POST">
        <div>
            <label for="skill">Skill:</label>
            <input type="text" id="skill" name="skill" required>
        </div>
        <div>
            <button type="submit">Add Skill</button>
        </div>
    </form>
</body>
</html>