<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profiles</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Profiles for {{ username }}</h1>
    <br>
    <table>
        <tr>
            <th>profile_name</th>
        </tr>
        {% for profile in profiles %}
            <tr>
                <td><a href="{{ url_for('profiles.profile', profile_name=profile.profile_name) }}">
                <p>{{ profile.profile_name }}</p></a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>