<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View/Update User</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>View/Update User</h1>
    <form action="{{ url_for('accounts.view', username=u.username) }}" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ u.username }}" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" value="{{ u.password }}" required>
        </div>
        <div>
            <label for="admin">Admin:</label>
            <input type="checkbox" id="admin" name="admin" {% if u.admin %}checked{% endif %}>
        </div>
        <div>
            <button type="submit">Update</button>
        </div>
    </form>
    <form action="{{ url_for('accounts.delete', username=u.username) }}" method="POST">
        <button type="submit">Delete account</button>
    </form>

    <a href="{{ url_for('accounts.get_user_profiles', username=u.username) }}">View Profiles</a>
</body>
</html>